body{
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
#draw{
    background-color: aqua;
    display: block;
}
.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin: 0 14px;
 }
 .action>.icon.active {
    transform: scale(1.2);
    transition-duration:0.3s;
    color:red;
 }
.action{
    top: 15px;
    left: 15px;
    position: fixed;
}
ol.color{
    position: fixed;
    left: 28px;
}
ol.color>li{
    list-style: none;
    height: 15px;
    width: 15px;
    border:2px solid grey;
    border-radius: 50%;
    margin: 15px 0;
}
#black{
    background-color: black;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
ol.color>li.active{
    transform: scale(1.2);
    transition-duration:0.3s;
}